{% extends 'base.html' %} 
{% block title %}{{ post.title }} | Django Blog{% endblock title %}
{% block content %}
{% load static %}
{% load humanize %}
{% load format_views %}
{% load blog_tags %}
{% load ads_tags %}
<!-- start banner Area -->
<section class="relative about-banner">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Blog Details Page</h1>
        <p class="text-white link-nav">
          <a href="{% url 'core:home' %}">Home </a>
          <span class="lnr lnr-arrow-right"></span
          ><a href="{% url 'blog:index' %}">Blog </a>
          <span class="lnr lnr-arrow-right"></span>
          
          <a href="{% url 'blog:detail' post.slug %}">
    {{ post.title }}
</a>



        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid" src="{{post.image.url}}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3 meta-details">
            <ul class="tags">
                {% for category in post.categories.all %}
                <li>
                    <a href="{% url 'blog:category' category.slug %}">
                        {{ category }}
                    </a>
                </li>
                {% if not forloop.last %},{% endif %}
                {% endfor %}
            </ul>
            <div class="user-details row">
              <p class="user-name col-lg-12 col-md-12 col-6">
                <a href="#">{{post.author.get_full_name}}</a> <span class="lnr lnr-user"></span>
              </p>
              <p class="date col-lg-12 col-md-12 col-6">
                <a href="#">{{ post.published_date|naturaltime }}</a>
                <span class="lnr lnr-calendar-full"></span>
              </p>
              <p class="view col-lg-12 col-md-12 col-6">
                <a href="#">{{ post.view_count|format_views }}</a> <span class="lnr lnr-eye"></span>
              </p>
              <p class="comments col-lg-12 col-md-12 col-6">
                <a href="#">{{comments.count}} Comments</a> <span class="lnr lnr-bubble"></span>
              </p>

            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <h3 class="mt-20 mb-20">
              {{post.title}}
            </h3>
            <p class="excert">
              {{post.content}}
            </p>
          </div>
          <div class="col-lg-12">

          </div>
        </div>
        <div class="navigation-area">
            <div class="row">

                {% if previous_post %}
                <div class="col-lg-6 col-md-6 col-12 nav-left d-flex flex-row align-items-center">

                    {% if previous_post.image %}
                    <div class="thumb">
                        <a href="{% url 'blog:detail' previous_post.slug %}">
                            <img
                                src="{{ previous_post.image.url }}"
                                alt="{{ previous_post.title }}"
                            >
                        </a>
                    </div>
                    {% endif %}

                    <div class="arrow">
                        <a href="{% url 'blog:detail' previous_post.slug %}">
                            <span class="lnr text-white lnr-arrow-left"></span>
                        </a>
                    </div>

                    <div class="detials">
                        <p>Previous Post</p>
                        <a href="{% url 'blog:detail' previous_post.slug %}">
                            <h4>{{ previous_post.title }}</h4>
                        </a>
                    </div>

                </div>
                {% endif %}


                {% if next_post %}
                <div class="col-lg-6 col-md-6 col-12 nav-right d-flex flex-row justify-content-end align-items-center">

                    <div class="detials text-end">
                        <p>Next Post</p>
                        <a href="{% url 'blog:detail' next_post.slug %}">
                            <h4>{{ next_post.title }}</h4>
                        </a>
                    </div>

                    <div class="arrow">
                        <a href="{% url 'blog:detail' next_post.slug %}">
                            <span class="lnr text-white lnr-arrow-right"></span>
                        </a>
                    </div>

                    {% if next_post.image %}
                    <div class="thumb">
                        <a href="{% url 'blog:detail' next_post.slug %}">
                            <img
                                src="{{ next_post.image.url }}"
                                alt="{{ next_post.title }}"
                            >
                        </a>
                    </div>
                    {% endif %}

                </div>
                {% endif %}

            </div>
        </div>
        

        <div class="comments-area">
    <h4>{{ comments.count }} Comments</h4>

    {% for comment in comments %}
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    {% if comment.user and comment.user.profile.avatar %}
                        <img src="{{ comment.user.profile.avatar.url }}" alt="" style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%;" />
                    {% else %}
                        <img src="{% static 'img/blog/c1.jpg' %}" alt="" />
                    {% endif %}
                    
                </div>
                <div class="desc">
                    <h5>
                        {% if comment.user %}
                            <a href="#">{{ comment.user.get_full_name }}</a>
                        {% else %}
                            <a href="#">{{ comment.name }}</a>
                        {% endif %}
                    </h5>
                    <p class="date">{{ comment.created_date|naturaltime }}</p>
                    <p class="comment">{{ comment.message }}</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
</div>


              <div class="comment-form">
          <h4>Leave a Comment</h4>

          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
          {% endif %}

          <form method="post">
              {% csrf_token %}
              <div class="form-group form-inline">
                  <div class="form-group col-lg-6 col-md-12 name">
                      {{ comment_form.name }}
                      {% for error in comment_form.name.errors %}
                          <small class="text-danger">{{ error }}</small>
                      {% endfor %}
                  </div>
                  <div class="form-group col-lg-6 col-md-12 email">
                      {{ comment_form.email }}
                      {% for error in comment_form.email.errors %}
                          <small class="text-danger">{{ error }}</small>
                      {% endfor %}
                  </div>
              </div>
              <div class="form-group">
                  {{ comment_form.message }}
                  {% for error in comment_form.message.errors %}
                      <small class="text-danger">{{ error }}</small>
                  {% endfor %}
              </div>
              <button type="submit" class="primary-btn text-uppercase">Post Comment</button>
          </form>
      </div>
      </div>
      <div class="col-lg-4 sidebar-widgets">
        <div class="widget-wrap">
          <div class="single-sidebar-widget search-widget">
            <form class="search-form" action="{% url 'blog:index' %}" method="get">
              <input
                  placeholder="Search Posts"
                  name="search"
                  type="text"
                  value="{{ query|default:'' }}"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Search Posts'"
              />
              <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          </div>
          {% author_widget post.author %}
          





          {% popular_posts %}






          {% ads_widget %}
          
          {% post_categories  post %}

       <div class="single-sidebar-widget newsletter-widget">
    <h4 class="newsletter-title">Newsletter</h4>
    <p>
        Here, I focus on a range of items and features that we use in life
        without giving them a second thought.
    </p>
    <form method="post" action="{% url 'core:newsletter_subscribe' %}">
        {% csrf_token %}
        <div class="form-group d-flex flex-row">
            <div class="col-autos">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter email"
                        onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'"
                    />
                </div>
            </div>
            <button type="submit" class="bbtns">Subscribe</button>
        </div>
        {% if messages %}
    {% for message in messages %}
        <small style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %}">
            {{ message }}
        </small>
    {% endfor %}
{% endif %}
    </form>
    <p class="text-bottom">You can unsubscribe at any time</p>
</div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End post-content Area -->

{% endblock content %}
